<section class="Card">
  <h1 class="Card-title">Write a Short Story</h1>
  <p class="Card-description">Your story can be as long or as short as you'd like!</p>
  <%= simple_form_for @short_story do |form| %>
    <%= form.input :title, input_html: { class: "Card-input" } %>
    <%= form.input :story_text, as: :text, input_html: {
      class: "Card-textarea"
    } %>
    <div class="Card-actionsArea">
      <%= form.submit "Save", disable_with: 'Saving...' %>
    </div>
  <% end %>
  <p class="Card-successMessage">
    <strong>Story was saved!</strong>
  </p>
</section>

<section data-controller="edit-history">
  <h2>Last Edit</h2>
  <p data-target="edit-history.message"></p>
</section>