@import 'scut';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

Body {
  padding: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

.Card {
  border-radius: scut-rem(4);
  background-color: #fff;
  box-shadow: scut-rem(0 2 1 -1) rgba(0, 0, 0, 0.2), scut-rem(0 1 1 0) rgba(0, 0, 0, 0.14), scut-rem(0 1 3 0) rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  padding: scut-rem(16);
  width: scut-rem(400);

  .simple_form > .input {
    display: flex;
    flex-direction: column;

    &:nth-child(n+2) {
      margin-top: scut-rem(16);
    }
  }

  &-title {
    margin-bottom: scut-rem(8);
  }

  &-input {
    padding: scut-rem(8);
    border-radius: scut-rem(4);
    border: scut-rem(1) solid gray;
  }

  &-textarea {
    padding: scut-rem(8);
    border-radius: scut-rem(4);
    border: scut-rem(1) solid gray;
  }

  &-actionsArea {
    margin-top: scut-rem(24);
    padding-top: scut-rem(16);
    border-top: scut-rem(2) solid lighten($color: gray, $amount: 20%);
  }

  &-successMessage {
    background-color: #35bd59;
    color: white;
    font-weight: 600;
    padding: scut-rem(8 12);
    border-radius: scut-rem(4);
    display: none;

    &.show {
      display: block;
    }
  }
}

