<section class="Card" 
  data-controller="short-story"
  data-action="keyup->short-story#validateForm">
  <h1 class="Card-title">Write a Short Story</h1>
  <p class="Card-description">Your story can be as long or as short as you'd like!</p>
  <%= simple_form_for @short_story do |form| %>
    <%= form.input :title, 
      input_html: { 
        class: "Card-input",
        data: { target: "short-story.title" }
      }
    %>
    <%= form.input :story_text, 
      as: :text, 
      input_html: { 
        class: "Card-textarea",
        data: { target: "short-story.storyText" }
      }
    %>
    <div class="Card-actionsArea">
      <%= form.submit "Save", 
        disable_with: 'Saving...', 
        data: {
          target: "short-story.submitButton"
        }
      %>
    </div>
  <% end %>
</section>

<section data-controller="edit-history">
  <h2>Last Edit</h2>
  <p data-target="edit-history.message"></p>
</section>
